*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-transform: uppercase;
    margin-bottom: 15px;
}

header{
    text-align: center;
    background-image: url('../img/fundo-topo.jpg') ;
    background-attachment: fixed;
}

header h1{
    margin: 0;
    height: 84px;
}

nav li{
    display: inline;
    background-image: url('../img/patinha-preta.png');
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 27px;
    margin-right: 10px;
    position: relative;
    padding-bottom: 7px;
}

nav{
    text-align: center;
    padding: 15px 0px;
    position: sticky;
    top: 0;
    background-color: #fff;
}

nav a{
    text-decoration: none;
    color: #000;
}

nav li:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 1.5px;
    width: 100%;
    background-color: #6dd462;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav li:hover::before{
    transform: scalex(1);
    transform-origin: left;
}

nav a:hover{
    color: #6dd462;
}

.fundo-verde{
    background-color: #bdff9c;
}

.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 56px 0;
}

.flex-container .col{
    width: 90%;
    max-width: 430px;
    margin-top: 50px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.produto{
    width: 100%;
    max-width: 235px;
}

.produto p, h3{
    padding: 5px;
}

.produto figure{
    border: 1px solid #c4c4c4;
    background-color: #fff;
    text-align: center;
    margin-top: 15px;
    height: 160px;
    line-height: 160px;
    padding: 0;
}

.produto figure img{
    vertical-align: middle;
}

.texto-centralizado{
    text-align: center;
}

.btn-pata{
    border: 1px solid #91e467;
    background-color: #d2fbbd;
    text-decoration: none;
    padding: 10px 20px;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.btn-pata img{
    padding-right: 6px;
}

.btn-pata:hover{
    color: #fff;
    background-color: #3cb371;
    border: 1px solid #91e467;
}

form{
    width: 90%;
    max-width: 380px;
}

form input, form textarea{
    width: 100%;
    border: 1px solid #6dd462;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

form input:hover, form textarea:hover{
    cursor: pointer;
    background-color: #bdff9c;
}

iframe{
    width: 100%;
}

.linha{
    border-bottom: 2px solid #6dd462;
}

.center{
    text-align: center;
}

.zoom:hover{
    cursor: pointer;
    border: 1px solid green;
}

@media (max-width: 930px){
    .ima{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: 5%;
        gap: 1%;

    }

    .pet{
        margin-left: 5%;
    }
}

@media (max-width: 620px){
    
    .flex-container{
        flex-direction: column;  
    }

    .container{
        max-width: 100vw;
        width: 95%;
    }

    .col{
        text-align: center;
        margin: 0 auto;  
    }

    .pet img{
        width: 100%;
    }

    #sobre{
        display: grid;
        justify-content: center;
    }

    #prod{
        display: grid;
        justify-content: center;
    }

    #prod a{
        width: 70%;
    }

    .produto h3, p{
        text-align: center;
    }

    .ima img{
        width: 100%;
    }

    form, iframe{
        margin: 0 auto;
        max-width: 100vw;
        width: 95%;
    }

    form input, form textarea{
        padding: 10px 0px 10px 5px;
    }

}

@media (max-width: 450px){
    nav li{
        display: grid;
        padding: 10px;
        background-position: 70%;
    }

    nav{
        position: inherit;
    }
}
